# Adds the names of all fields being set in a constructor generated
# by Lombok, making it compatible with libraries like Jackson.
lombok.anyConstructor.addConstructorProperties = true

# Adds a @Generated annotation on all code created by Lombok, ensuring
# that test coverage libraries like Jacoco ignore that code.
lombok.addLombokGeneratedAnnotation = true

# Makes all fields private final across the entire project by default.
lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = true

# Ensures that in case of inheritance, super is called so parent fields
# are included in equals / hashCode / toString calls.
lombok.equalsAndHashCode.callSuper = CALL
lombok.toString.callSuper = CALL
